body{
    /* background-color: black; */
    margin: 0px;
    padding: 0px;
     background-image: url("assets/76706.jpg");
     background-size:cover;
     background-repeat: no-repeat;
}

#root{


    /* background-color: rgb(248, 241, 213); */
    /* background-image: url("assets/76706.jpg"); */
    background-size: cover;
    
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}